@{
    ViewBag.Title = "联系我们";
}

<script type="text/javascript">
    function checkQuizForm() {

        if (jQuery("#email").val().trim() == "") {
            jQuery("#email").css("border", "1px solid red ");
            return false;
        } else
            jQuery("#email").css("border", "1px solid #e8e8e8 ");

        if (jQuery("#name").val().trim() == "") {
            jQuery("#name").css("border", "1px solid red ");
            return false;
        } else
            jQuery("#name").css("border", "1px solid #e8e8e8 ");


        if (jQuery("#subject").val().trim() == "") {
            jQuery("#subject").css("border", "1px solid red ");
            return false;
        } else
            jQuery("#subject").css("border", "1px solid #e8e8e8 ");

        var message = document.getElementById("message");

        if (jQuery("#message").val().trim() == "") {
            jQuery("#message").css("border", "1px solid red");
            return false;
        } else
            jQuery("#message").css("border", "1px solid #e8e8e8");

        $.ajax({
            url: "@Url.Content("~/Contact/Index")",
            type: "POST",
            dataType: "text",
            data: $("#contact_msg").serialize(),
            success: function (data) {
                alert(data);
                $("#name").val("");
                $("#email").val("");
                $("#subject").val("");
                $("#message").val("");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
        return true;
    }
</script>



<div class="container" >
	<div class="contact">
		<h3 class="wow bounceIn" data-wow-delay="0.4s">CONTACT US</h3>
		<p class="wow fadeInUpBig animated" data-wow-delay="0.4s">电话：xxxxxxx </p>
        <p class="wow fadeInUpBig animated" data-wow-delay="0.4s">邮箱：xxxxxxx </p>
        <p class="wow fadeInUpBig animated" data-wow-delay="0.4s">位置：xxxxxxx </p>
			<form class="wow bounceIn" id="contact_msg" data-wow-delay="0.4s">
				<input type="text" id="name" name="name" placeholder="Name" required=" ">
				<input type="text" id="email" name="email" placeholder="Email" required=" ">
				<input type="text" id="subject" name="subject" placeholder="Subject" required=" " >
				<textarea placeholder="Message" id="message" name="message" required=" "></textarea>
				<input type="button" value="SEND MESSAGE">
			</form>
	</div>
</div>
