@{
    ViewBag.Title = "联系我们";
}
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>

<!--百度地图-->
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(101.76334,36.681897);//定义一个中心点坐标
        map.centerAndZoom(point,18);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"君东科技有限责任公司",content:"我的备注",point:"101.763138|36.681962",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
		 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>
<!--结束百度地图-->


<script>
    function check() {

        if (jQuery("#email").val().trim() == "") {
            jQuery("#email").css("border", "1px solid red ");
            return false;
        } else
            jQuery("#email").css("border", "1px solid #e8e8e8 ");

        if (jQuery("#subject").val().trim() == "") {
            jQuery("#subject").css("border", "1px solid red ");
            return false;
        } else
            jQuery("#subject").css("border", "1px solid #e8e8e8 ");

        var message = document.getElementById("message");

        if (jQuery("#message").val().trim() == "") {
            jQuery("#message").css("border", "1px solid red");
            return false;
        } else
            jQuery("#message").css("border", "1px solid #e8e8e8");

        $.ajax({
            url: "@Url.Content("~/Contact/index")",
            type: "POST",
            dataType: "text",
            data: $("#contact_msg").serialize(),
            success: function (data) {
                alert(data);
                $("#name").val("");
                $("#email").val("");
                $("#subject").val("");
                $("#message").val("");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
        return true;
    }
</script>


<script>
    function getSubject()
    {
        var url = window.location.href;
        var i = url.indexOf("=");
        if (i == -1)
            return;
        var subject=url.substring(i+1);
        jQuery("#subject").val(subject);
    }
</script>


<div class="container" onload="getSubject()">
	<div class="contact">
		<h3 class="wow bounceIn" data-wow-delay="0.4s">CONTACT US</h3>
		<p class="wow fadeInUpBig animated" data-wow-delay="0.4s">电话：xxxxxxx </p>
        <p class="wow fadeInUpBig animated" data-wow-delay="0.4s">邮箱：xxxxxxx </p>
        <p class="wow fadeInUpBig animated" data-wow-delay="0.4s">位置：xxxxxxx </p>
			<form class="wow bounceIn" id="contact_msg" data-wow-delay="0.4s">
				<input type="text" id="name" name="name" placeholder="Name" required=" ">
				<input type="text" id="email" name="email" placeholder="Email" required=" ">
				<input type="text" id="subject" name="subject" placeholder="Subject" required=" ">
				<textarea placeholder="Message" id="message" name="message" required=" "></textarea>
				<input type="button" onclick="check()" value="SEND MESSAGE">
			</form>
		</div>
		<div class="map">
			<div id="dituContent" style="width:697px;height:550px;border:#ccc solid 1px;"></div>
		</div>		
	</div>
